<el-row>
    <el-col style="text-align:center;font-size:12px;">
        备案号：<a href="https://beian.miit.gov.cn/" target="_blank" title="皖ICP备20009092号-2">皖ICP备20009092号-2</a>
    </el-col>
    <el-col style="text-align:center;font-size:12px;margin-top: -5px">
        <span>友情链接：</span>
        <a href="https://www.sojson.com/" target="_blank" style="margin-left: 10px">JSON在线</a>
        <a href="https://jwt.io/" target="_blank" style="margin-left: 10px">JWT在线</a>
        <a href="http://jsnice.org/" target="_blank" style="margin-left: 10px">在线反混淆</a>
    </el-col>
</el-row>
